<div class='container-fluid'>
  <div class='jumbotron jumbotron-fluid'>
    <div class='container'>
      <h1 class='display-4'>{{text}}</h1>
      <p class='lead'>
        Every time you post something online, you have a choice. You can either
        make it something that adds to the happiness levels in the world, or you
        can make it something that takes away.
      </p>
      <p class='d-flex justify-content-end lead text-muted'>~Zoe Sugg</p>
      <hr />
      <p class='lead'>
        <a href='/blogs' class='btn btn-primary btn-lg'>Learn More</a>
        <a href='/auth/register' class='btn btn-info btn-lg mx-2'>Sign Up</a>
      </p>
    </div>
  </div>
</div>